.u-section-1 .u-sheet-1 {
  min-height: 1262px;
}

.u-section-1 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 1262px;
  height: auto;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 335px;
  left: 0;
  right: auto;
}

.u-section-1 .u-text-1 {
  margin: 70px auto 0 370px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 17px 40px 0 370px;
}

.u-section-1 .u-group-2 {
  width: 355px;
  min-height: 180px;
  height: auto;
  margin: 50px auto 0 365px;
}

.u-section-1 .u-container-layout-2 {
  padding-right: 12px;
  padding-left: 12px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 8px 1px 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 12px 1px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 3px 226px 0 1px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-group-3 {
  width: 355px;
  min-height: 180px;
  height: auto;
  margin: -180px 35px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-right: 13px;
  padding-left: 13px;
  padding-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 8px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: 17px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 27px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-group-4 {
  width: 355px;
  min-height: 180px;
  height: auto;
  margin: 30px 34px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: 8px 1px 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  margin: 12px 1px 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 3px 84px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -24px 226px 0 1px;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -22px auto 0 132px;
  padding: 0;
}

.u-section-1 .u-group-5 {
  width: 355px;
  min-height: 180px;
  height: auto;
  margin: -180px auto 0 364px;
}

.u-section-1 .u-container-layout-5 {
  padding-right: 12px;
  padding-left: 12px;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  margin: 8px 1px 0;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  margin: 12px 1px 0;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 3px 226px 0 1px;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-group-6 {
  width: 355px;
  min-height: 180px;
  height: auto;
  margin: 30px auto 0 365px;
}

.u-section-1 .u-container-layout-6 {
  padding-right: 12px;
  padding-left: 12px;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  margin: 8px 1px 0;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  margin: 12px 1px 0;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 3px 226px 0 1px;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-group-7 {
  width: 355px;
  min-height: 180px;
  height: auto;
  margin: -180px 38px 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding-right: 12px;
  padding-left: 12px;
}

.u-section-1 .u-text-13 {
  font-size: 1.5rem;
  margin: 8px 1px 0;
}

.u-section-1 .u-text-14 {
  font-size: 1rem;
  margin: 12px 1px 0;
}

.u-section-1 .u-btn-13 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 3px 226px 0 1px;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-group-8 {
  width: 356px;
  min-height: 180px;
  height: auto;
  margin: 30px 34px 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding-right: 12px;
  padding-left: 12px;
}

.u-section-1 .u-text-15 {
  font-size: 1.5rem;
  margin: 8px 1px 0;
}

.u-section-1 .u-text-16 {
  font-size: 1rem;
  margin: 12px 1px 0;
}

.u-section-1 .u-btn-15 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 3px 226px 0 1px;
  padding: 0;
}

.u-section-1 .u-group-9 {
  width: 355px;
  min-height: 180px;
  height: auto;
  margin: -180px auto 0 367px;
}

.u-section-1 .u-container-layout-9 {
  padding-right: 12px;
  padding-left: 12px;
}

.u-section-1 .u-text-17 {
  font-size: 1.5rem;
  margin: 8px 1px 0;
}

.u-section-1 .u-text-18 {
  font-size: 1rem;
  margin: 12px 1px 0;
}

.u-section-1 .u-btn-16 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 3px 226px 0 1px;
  padding: 0;
}

.u-section-1 .u-btn-17 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-group-10 {
  width: 355px;
  min-height: 180px;
  height: auto;
  margin: 30px auto 0 365px;
}

.u-section-1 .u-container-layout-10 {
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 0;
}

.u-section-1 .u-text-19 {
  font-size: 1.5rem;
  margin: 8px 1px 0;
}

.u-section-1 .u-text-20 {
  font-size: 1rem;
  margin: 12px 1px 0;
}

.u-section-1 .u-btn-18 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 3px 226px 0 1px;
  padding: 0;
}

.u-section-1 .u-group-11 {
  width: 355px;
  min-height: 180px;
  height: auto;
  margin: -180px 35px 0 auto;
}

.u-section-1 .u-container-layout-11 {
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 0;
}

.u-section-1 .u-text-21 {
  font-size: 1.5rem;
  margin: 8px 1px 0;
}

.u-section-1 .u-text-22 {
  font-size: 1rem;
  margin: 12px 1px 0;
}

.u-section-1 .u-btn-19 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 3px 226px 0 1px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -677px;
    margin-left: 305px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 305px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -448px;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 35px;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 60px;
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-group-7 {
    margin-top: -446px;
    height: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 64px;
    height: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-group-9 {
    margin-top: 689px;
    height: auto;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-group-10 {
    margin-top: 53px;
    height: auto;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-group-11 {
    margin-top: -1065px;
    height: auto;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: -538px;
    margin-left: 234px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 234px;
  }

  .u-section-1 .u-group-9 {
    margin-left: 365px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: -540px;
    margin-left: 176px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 176px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 154px;
    margin-left: 185px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -1189px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 78px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 752px;
    margin-left: 185px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-6 {
    margin-top: 69px;
    margin-left: 185px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-7 {
    margin-top: -1959px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 30px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-9 {
    margin-top: 1553px;
    margin-left: 185px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-10 {
    margin-top: -562px;
    margin-left: 185px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-11 {
    margin-top: -1335px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: -364px;
    margin-left: 111px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 111px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-top: 96px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 212px;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    margin-top: -981px;
    margin-right: 0;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 69px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 212px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 117px;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
    margin-top: 545px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 212px;
    margin-left: 0;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 212px;
    margin-left: 0;
  }

  .u-section-1 .u-group-7 {
    width: 340px;
    margin-top: -2026px;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-right: 212px;
    margin-left: 0;
  }

  .u-section-1 .u-group-8 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-15 {
    margin-right: 211px;
    margin-left: 0;
  }

  .u-section-1 .u-group-9 {
    width: 340px;
    margin-top: 1620px;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-16 {
    margin-right: 212px;
    margin-left: 0;
  }

  .u-section-1 .u-group-10 {
    width: 340px;
    margin-top: -412px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-18 {
    margin-right: 212px;
    margin-left: 0;
  }

  .u-section-1 .u-group-11 {
    width: 340px;
    margin-top: -1577px;
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-19 {
    margin-right: 212px;
    margin-left: 0;
  }
}